*{
	margin:0;
	padding: 0;
}
ul,li{
	list-style: none;
}
body{
	width:1075px;
	font-size:12px;
	min-height: 1450px;
	
}
html,body{
	/*height:100%;*/
	background: #eeeeee;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-style: normal;
}
.headTit{
	height:27px;
	width:100%;
	/*min-width: 1053px;*/
	background:#eeeeee;
	border-bottom: 1px solid #ccc;
    color: #333;
   /* font-weight: normal;*/
    padding: 7px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}
.span1{
	color: #4c4c4c;
    font-size: 18px;
}
.span1>a{
	color:#333;
}
.span1>a:hover{
	text-decoration: underline;
	color:#f53737;
}
.helpsub{
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

}
.helpsub>a{
	display:inline-block;
	width:110px;
	height: 26px;
	margin:0 auto;
}
.helpsub a img{
	width:110px;
	height:26px;
}
.spanR{
	
	float:right;
}
.spanR a{
	float: right;
    height: 26px;
    line-height: 26px;
    padding:0 10px 0 23px;
    background: #c43926 url(../images/icon_add02.gif) no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
.form-div{
	background: #f3f3f3 url(../images/th_bg.gif) repeat-x;
    border: 1px solid #ddd;
    padding: 5px;
    color: #808080;
    margin: 0 0 10px 0;
}
input{
	outline: 0;
	border-width: 2px;
}
#txt{
	display:inline-block;
	height:22px;
}
.span1{
	display:inline-block;
	margin: 0 5px
	font-size:16px;
}
.btn{
	padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
.listdiv{
	width:100%;
	margin: 0 15px;
}
table{
		width:100%;
	    border-collapse: collapse;
	    border-color: #ccc
}
.listdiv th{
	line-height: 39px;
    background: #f3f3f3 url(../images/th_bg.gif) repeat-x;
    white-space: nowrap;
    border: 1px solid #ccc;
}
.listdiv th a{
	color:#111;
}
.listdiv td {
	/*height:30px;*/
    background: #fff;
    padding: 10px;
    line-height: 39px;
}
.firstcell{
	 font-weight: bold;
    padding-left: 10px;
}